h1{
  color: white;
  text-align: center;
}

a{
  color: #FCDD17;
}

a.hover{
  color: #FC7517;
}

/* TODO: Da sistemare */
/* body{
  background: #FF6868; /* fallback for old browsers 
  background: -webkit-linear-gradient(right, #FF6868, #FF68DE);
  background: -moz-linear-gradient(right, #FF6868, #FF68DE);
  background: -o-linear-gradient(right, #FF6868, #FF68DE);
  background: linear-gradient(to right, #FF6868, #FF68DE);
} */

body {
  background: #EEE;
}

.content{
  position: relative;
  z-index: 1;
  /* background-color: #1E95D9; */
  color: #eee;
  max-width: 50%;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
  margin-top: 15%;
}

/* 
    TODO: Aggiustare il blocco in centro schermo per i telefoni.
*/
@media screen and (max-width: 900px) {
  .content{
    margin: 0 auto 10px;
    padding: 20px;
    max-width: 70%;
    top: 150px;
    text-align: justify;
  }
}


/* ---------- BUTTON ---------- */
.btn_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  margin: 10%;
  text-align: center;

  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:focus{
  outline: none;
}

.Purple{
  background-image: linear-gradient(to right, #6889FF, #C668FF);
  box-shadow: 0 4px 15px 0 #905CFF;
}
.Peach{
  background-image: linear-gradient(to right, #FF6868, #FF68DE);
  box-shadow: 0 4px 15px 0 #FF8B5C;
}
.Sunset{
  background-image: linear-gradient(to right, #FDC639, #FF7C60);
  box-shadow: 0 4px 15px 0 #FE932E;
}
.Night{
  background-image: linear-gradient(to right, #403F44, #1E1B32);
  box-shadow: 0 4px 15px 0 #56515C;
}
.Synthwave{
  background-image: linear-gradient(to right, #FF9E68, #FF68DE);
  box-shadow: 0 4px 15px 0 #FF655C;
}
.Grass{
  background-image: linear-gradient(to right, #45C270, #21CDC3);
  box-shadow: 0 4px 15px 0 #40CFC3;
}
.Ocean{
  background-image: linear-gradient(to right, #5B7FFF, #33CCFC);
  box-shadow: 0 4px 15px 0 #4FD2FF;
}