<title>Site Maintenance</title>
<div class="content" [style.background]="color">
  <h1>Arriverà tra poco...</h1>
  <div>
    <p>Ciao, sono <b>Pietro</b>, il creatore di questo sito web, ma al momento <b>è in fase di sviluppo.</b> Se hai bisogno puoi <a href="mailto:pietro.rocchio@gmail.com">contattarmi</a> qui, altrimenti ci vedremo tra poco!</p>
    <p>Vi lascio il link al repository di <a href="https://github.com/pietro2356/rocchionetworkrepo">GitHub</a>.</p>
    <p>&mdash; Pietro</p>
  </div>
</div>
<div class="btn_content">
  <button class="btn box Purple" (click)="changeColor('Purple')">Purple</button>
  <button class="btn box Peach" (click)="changeColor('Peach')">Peach</button>
  <button class="btn box Sunset" (click)="changeColor('Sunset')">Sunset</button>
  <button class="btn box Night" (click)="changeColor('Night')">Night</button>
  <button class="btn box Synthwave" (click)="changeColor('Synthwave')">Synthwave</button>
  <button class="btn box Grass" (click)="changeColor('Grass')">Grass</button>
  <button class="btn box Ocean" (click)="changeColor('Ocean')">Ocean</button>
</div>